
NetflixReminderAnimation/NetflixReminderAnimation.xcodeproj/project.xcworkspace/contents.xcworkspacedata
NetflixReminderAnimation/NetflixReminderAnimation.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
NetflixReminderAnimation/NetflixReminderAnimation.xcodeproj/project.xcworkspace/xcuserdata/adso0001.xcuserdatad/UserInterfaceState.xcuserstate
NetflixReminderAnimation/NetflixReminderAnimation.xcodeproj/xcuserdata/adso0001.xcuserdatad/xcschemes/xcschememanagement.plist
